//colors
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet");

$green: #79B4B7;
$white: #FEFBF3;
$tan: #F8F0DF;
$grey: #9D9D9D;
$blue: rgb(61,138,201);

$nav_logo_padding: 5px;

$default_font: Poppins, sans-serif;